h1, h2 {
  font-family: Lato;
  text-align:  center;
}
span{
  background-color: #3662f4;
  border-radius: 10px;
  color: white;
  padding: 3px 6px 3px 6px;
}
.container {
  padding: 16px;
}

.name, .password, .submit-form{
  display: flex;
  justify-content: center;
  margin: auto
}
input[type="text"], input[type="password"]{
  width: 90%;
  padding: 10px;
  display: inline-block;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 15px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

button:hover {
  opacity:1;
}


.registerbtn {
  padding: 14px 20px;
  background-color: #3662f4;
}

.registerbtn, .signinbtn {
  float: left;
  width: 50%;
}
